@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto Mono", monospace;
	/*color: white;*/
	color: rgb(139, 145, 156);
	background: #0a0b0d;
}

/*all div styling excluding nav bar*/
.all {
	/*background: linear-gradient(
		107.18deg,
		rgba(255, 255, 255, 0.4) 1.84%,
		rgba(255, 255, 255, 0.2) 100%
	);*/
	/*z-index: 3;*/
	height: auto;
	width: auto;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
}

/*search bar styling*/
.search-bar {
	height: 4rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	border-bottom: solid 0.5px;
	border-color: rgb(67, 71, 77);
  margin: 2rem;
}

#input-text {
	padding: 0.5rem;
	font-size: 1rem;
	border: none;
	border-radius: 0.5rem;
	margin: 0.2rem;
	outline-style: none;
	width: 40vw;
	height: 2.5rem;
	background: #171A1F;
	color: white
}

.logo{
	color: white;
	font-size: 2rem;
	font-weight: bold;
	
}
/*links styling*/
.links {
	grid-row: 1/13;
	grid-column: 1/3;
	transition: transform 0.2s ease 0s, color 0.2s ease 0s;
	float: left;
	overflow: auto;
	height: 100vh;
}

.categs {
	/*border: solid 1px white;*/
	margin: 4px;
	padding: 5px 8px;
}

.nav-bar {
	margin-left: 1rem;
}

.categ-heading{
	font-size: 2rem;
	padding: 1rem;
	margin: 0.5rem
	border: solid 1px rgb(255,255,255);
	border-bottom: solid 0.5px #474a4f;
}
/*main content where all the apis are shown styling*/
.main-content {
	grid-row: 1/13;
	grid-column: 3/13;
	height: 100vh;
	overflow: scroll;
	overflow-x: hidden;
}

/*body {
	background: repeating-radial-gradient(
			circle at bottom left,
			#fedc00 0,
			#fedc00 5.55556%,
			#fcb712 0,
			#fcb712 11.11111%,
			#f7921e 0,
			#f7921e 16.66667%,
			#e87f24 0,
			#e87f24 22.22222%,
			#dd6227 0,
			#dd6227 27.77778%,
			#dc4c27 0,
			#dc4c27 33.33333%,
			#ca3435 0,
			#ca3435 38.88889%,
			#b82841 0,
			#b82841 44.44444%,
			#953751 0,
			#953751 50%,
			#364c88 0,
			#364c88 55.55556%,
			#16599d 0,
			#16599d 61.11111%,
			#02609e 0,
			#02609e 66.66667%,
			#0073a9 0,
			#0073a9 72.22222%,
			#008aa4 0,
			#008aa4 77.77778%,
			#239a87 0,
			#239a87 83.33333%,
			#7cba6d 0,
			#7cba6d 88.88889%,
			#becc2f 0,
			#becc2f 94.44444%,
			#e0d81d 0,
			#e0d81d 100%
		),
		repeating-radial-gradient(
			circle at bottom right,
			#fedc00 0,
			#fedc00 5.55556%,
			#fcb712 0,
			#fcb712 11.11111%,
			#f7921e 0,
			#f7921e 16.66667%,
			#e87f24 0,
			#e87f24 22.22222%,
			#dd6227 0,
			#dd6227 27.77778%,
			#dc4c27 0,
			#dc4c27 33.33333%,
			#ca3435 0,
			#ca3435 38.88889%,
			#b82841 0,
			#b82841 44.44444%,
			#953751 0,
			#953751 50%,
			#364c88 0,
			#364c88 55.55556%,
			#16599d 0,
			#16599d 61.11111%,
			#02609e 0,
			#02609e 66.66667%,
			#0073a9 0,
			#0073a9 72.22222%,
			#008aa4 0,
			#008aa4 77.77778%,
			#239a87 0,
			#239a87 83.33333%,
			#7cba6d 0,
			#7cba6d 88.88889%,
			#becc2f 0,
			#becc2f 94.44444%,
			#e0d81d 0,
			#e0d81d 100%
		);
	background-blend-mode: overlay;
	height: 100vh;
}
*/

/*scroll bar*/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}